<!DOCTYPE html>
<html>
<h1>Login</h1>
<%- message %>
<form method="post" action="">
    <p>
        <label>Username:</label>
        <input type="text" name="Username"> 
    </p>
    <p>
        <label>Password:</label>
        <input type="text" name="Password"> 
    </p>
    <p>
        <label>Login:</label>
        <input type="submit" name="Login"> 
    </p>
</form>
</html>
<p>Try accesing <a href="/restricted">Guess page</a>, then </p>